@model Spring2026_Project3_shobrien.Models.ActorDetailsViewModel

<div class="details-header">
    <h1>@Model.Actor.Name</h1>

    @if (Model.Actor.Photo != null && Model.Actor.Photo.Length > 0)
    {
        var base64 = Convert.ToBase64String(Model.Actor.Photo);
        var imgSrc = $"data:image/jpeg;base64,{base64}";
        <img src="@imgSrc" width="300" class="details-image"/>
    }

    <div class="details-info">
        <p><strong>Gender:</strong> @Model.Actor.Gender</p>
        <p><strong>Age:</strong> @Model.Actor.Age</p>
        <p><strong>IMDB:</strong> <a href="@Model.Actor.IMDBLink" target="_blank">Link</a></p>
    </div>

    <div class="buttons-menu">
        <a class="btn btn-warning" href="@Url.Action("Edit", new { id = Model.Actor.ActorID })">Edit</a>
        <a class="btn btn-danger" href="@Url.Action("Delete", new { id = Model.Actor.ActorID })">Delete</a>
        <a class="btn btn-secondary" href="@Url.Action("Index")">Back to List</a>
    </div>
</div>

<h3>Tweets</h3>
<h5>Average Sentiment: @Model.AverageSentiment.ToString("F2")</h5>
<table id="reviewsTable" class="table" data-table>
    <thead>
        <tr>
            <th>#</th>
            <th>Review</th>
            <th>Sentiment</th>
        </tr>
    </thead>
    <tbody>
        @for (int i=0; i < Model.Tweets.Count; i++)
        {
            <tr>
                <td>@(i+1)</td>
                <td>@Model.Tweets[i]</td>
                <td>@Model.Sentiments[i].ToString("F2")</td>
            </tr>
        }
    </tbody>

</table>

<h3>Movies Featuring <strong>@Model.Actor.Name</strong></h3>
<table id="moviesTable" class="table" data-table>
    <thead>
        <tr>
            <th>Title</th>
            <th>Genre</th>
            <th>Release Year</th>
            <th>IMDB</th>
            <th>Poster</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var movie in Model.Movies)
        {
            <tr>
                <td>@movie.Title</td>
                <td>@movie.Genre</td>
                <td>@movie.ReleaseYear</td>
                <td><a href="@movie.IMDBLink" target="_blank">IMDB</a></td>
                <td>
                    @if (movie.Poster != null && movie.Poster.Length > 0)
                    {
                        var base64 = Convert.ToBase64String(movie.Poster);
                        var imgSrc = $"data:image/jpeg;base64,{base64}";
                        <img src="@imgSrc" width="100" />
                    }
                </td>
                <td>
                    <a class="btn btn-info btn-sm" href="@Url.Action("Details", new { id = movie.MovieID })">Details</a>
                    <a class="btn btn-warning btn-sm" href="@Url.Action("Edit", new { id = movie.MovieID })">Edit</a>
                    <a class="btn btn-danger btn-sm" href="@Url.Action("Delete", new { id = movie.MovieID })">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
