@model List<Spring2026_Project3_shobrien.Models.Movie>

@{
    ViewData["Title"] = "Movie List";
}

<h1>@ViewData["Title"]</h1>

<a href="@Url.Action("Create")">Add New Movie</a>

<table id="moviesTable" class="display">
    <thead>
        <tr>
            <th>Title</th>
            <th>Genre</th>
            <th>Release Year</th>
            <th>IMDB</th>
            <th>Poster</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var movie in Model)
        {
            <tr>
                <td>@movie.Title</td>
                <td>@movie.Genre</td>
                <td>@movie.ReleaseYear</td>
                <td><a href="@movie.IMDBLink" target="_blank">IMDB</a></td>
                <td>
                    @if (movie.Poster != null && movie.Poster.Length > 0)
                    {
                        var base64 = Convert.ToBase64String(movie.Poster);
                        var imgSrc = $"data:image/jpeg;base64,{base64}";
                        <img src="@imgSrc" width="100" />
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
